.logincontainer {
  position: absolute;
  margin-left: 35%;
  margin-right: 50%;
  top: 200px;
  border-radius: 20px;
  background-color: #ECECEC;
  width: 340px;
  height: 205px;
}

.loginbtn {
  color: white;
  background-color: #4CAF50;
  text-align: center;
  font-family: sans-serif;
  display: inline-block;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 25px;
  opacity: 0.6;
  border: 2px solid #000000;
  transition: all 0.3s;
  cursor: pointer;
  position: absolute;
  margin: 55px 0px 30px 17px;
  top: 90px;
}

.loginbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.loginbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5px;
  transition: 0.3s;
}

.loginbtn:hover span {
  padding-right: 15px;
  opacity: 1;
  background-color: #4CAF50;
}

.loginbtn:hover {
  opacity: 1;
}

.loginbtn:hover span:after {
  opacity: 1;
  right: 0;
}

.loginbtn:active {
  background-color: #4CAF50;
  box-shadow: 0 2px #666;
  transform: translateX(2px);
}

.ipbox {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 20px 0px 0px 80px;
}

.signupbtn {
  color: white;
  background-color: #4CAF50;
  text-align: center;
  display: inline-block;
  font-family: sans-serif;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 25px;
  opacity: 0.6;
  width: 150px;
  border: 2px solid black;
  transition: all 0.3s;
  cursor: pointer;
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: 50%;
  top:145px;
}

.signupbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.signupbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5px;
  transition: 0.3s;
}

.signupbtn:hover span {
  padding-right: 15px;
  opacity: 1;
  background-color: #4CAF50;
}

.signupbtn:hover {
  opacity: 1;
}

.signupbtn:hover span:after {
  opacity: 1;
  right: 0;
}

.signupbtn:active {
  background-color: #4CAF50;
  box-shadow: 0 2px #666;
  transform: translateX(2px);
}
